/* -------------------------------------------------- Global Styles -------------------------------------------------- */

body{
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
hr {
    border-color: #FF7D58;
    border-width: 3px;
    margin: 25px auto;
    height: 0px;
    width: 80%;
}

/* -------------------------------------------------- Class Styles -------------------------------------------------- */

.container {
margin: auto;
}

.form-text{
    font-size: 12px;
}

.col-4 {
    margin: 20px 0px;

}
.departments {
    text-align: left;
}
.providers, .reviewee-providers{
    text-align: left;
}

.dateRangeDiv {
    margin-top: -20px;
}

.border-top {
    border-color: #FF7D58!important;
    border-width: 3px!important;
}

.topSection{
    /* background-color: #B5DBF0; */
    padding: 0px 10px 10px;
    margin: 20px 0px;
}

.spinner{
    /* background-color: #B5DBF0; */
    padding: 15px 10px 10px;
    margin: 20px 0px;
}

.form-group{
    margin-bottom: 0px;
}

.col-form-label{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.hr-small {
    border-color: #FF7D58;
    border-width: 3px;
    margin: 25px auto;
    height: 0px;
    width: 60%;
}

.hr-large {
    border-color: #FF7D58;
    border-width: 3px;
    margin: 25px auto;
    height: 0px;
    width: 100%;
}

.col-8{
    margin: 10px auto;

}

.col-12{
    margin: 10px auto;
}

.col-form-label {
    font-weight: bold;
    font-size: 20px;
}

.tbHeader {
    margin: 0px auto 0px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.subHeader {
    margin: 0px auto 0px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.filters {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 0px 10px 10px 10px;

}

.dLabel{
    font-weight: 600;
}

.key {
    height: 50px;
}

.vizLabel {
    font-weight: bold;
    font-size: 26px;
}

.filterTextHeader {
    font-size: 18px;
}

.filters {
    padding: 2px;
}

.nopad {
    padding: 0px;
    margin: 0px;
}

.card3 {
    border-style: solid;
    border-radius: 15px;
    overflow: hidden;
    margin: 0px 28px;
    width: 220px;
    border-width: thin;
    background-color: lightgrey;
}

.card3-sm {
    border-style: solid;
    border-radius: 15px;
    overflow: hidden;
    margin: 0px 40px;
    width: 220px;
    border-width: thin;
    background-color: lightgrey;
}

.offset-sm {
    margin-left: 150px;
}

.filters {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
 -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.top25 {
 margin-top: 25px;
}

.vizLabel {
    font-weight: bold;
    font-size: 25px;
}

.vizBoxLabel {
    font-weight: 600;
    font-size: 20px;
}

.viz10x8 {
    width: 1000px;
    height: 800px;
    margin: auto;
}

.viz10x7 {
    width: 1000px;
    height: 700px;
    margin: auto;
}

.viz10x5 {
    width: 1000px;
    height: 500px;
    margin: auto;
}

.viz10x3 {
    width: 1000px;
    height: 300px;
    margin: auto;
}

.fourBan {
    width: 220px;
    height: 90px;
    margin: auto;
}

.hiddenViz {
    width: 1px;
    height: 1px;
    margin: auto;
}

.ofHide {
    overflow: hidden;
}

/* -------------------------------------------------- Id Styles -------------------------------------------------- */
#title{
    background-color: #B5DBF0;
    margin-bottom: 30px;
}

#previousViz:hover, #nextViz:hover {
    background-color: lightgrey;
}

#effectKey {
    width: 600px;
}

#tabZoneId3{
    height: 100% !important;
    width: 100% !important;
}

div#tab-dashboard-region{
    background-color: blue !important;
}

#startDiv {
    padding-left: 30px;
}

#endDiv {
    padding-right: 30px;
}

#reviwerEqualDiv{
    text-align: center;
}

#revED {
    margin: auto;
}