
/*######################### Global Style ################################## 290384 */


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-align: center;
    color: #40514E;
}




hr {
    border-color: #FF7D58;
    border-width: 3px;
    margin: 25px auto;
    height: 0px;
    width: 80%;
}
.top-container {
    padding-top: 10px;
    background-color: #b5dbf0;
    position: relative;
}
.intro {
    width: 40%;
    margin: auto;
    line-height: 2;
}


h1 {
    margin: 0px auto 0px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

h2 {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding-bottom: 10px;
}
p{
    margin: 0px auto 0px auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

/*######################### Class Style ################################## */

.site-header{
    text-align: center;
    background-color:  #b5dbf0;
    height: 70px;
    padding-top: 10px;
}

.body-head{
    padding-top: 0px;
    margin-top: 0px;
}

.title {
    margin: auto; 
    padding-top: 0px;
    text-decoration:none;
    text-align: center;
    
}
.title-link{
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;

    font-size: 36px;
    color: black;
    text-align: center;
    font-weight: 600;
}

/* .title-link:hover {
    color: white;
    text-decoration: none;
	background-color: white;
} */

.col-md-8{
    text-align: center;
    margin: auto;
    width: 800px;
}

.tool-bar{
    position: relative;
    float: left;
    width: 30%
}
.logo {
    padding-right: 10%;
  }

.menu-dropdown {
    position: relative;
    float: right;
    width: 30%;
    padding-top: 5px;
}


.menu {
    height: 30px;
    width: 50px;
}

.form-control{
    margin: auto;
}

.form-group-log{
    margin: auto;
    width: 50%;
}

.prov-title{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 32px;
    margin-top: 20px;
}

.prov-reviews{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 14px;
}

.reviewer-line{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
    line-height: 2;
}

.ser-name{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5; 
    display: block;
}

.dep-name{
    font-family: 'Montserrat', sans-serif;
    color: #44444;
    font-size: 12px;
    line-height: 1.5;
    display: block;
}

.scaled-circle{
    width: 80px;
    height: 80px;
}

.scaled-cal{
    width: 60px;
    height: 60px;
}

.ser-circle{
    display: inline-block;
    margin-right: 20px;
    width: 120px;
}

.review-todo{
    width: 730px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;

}

.review-details{
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding-top: 10px;
    text-align: left;
    height: 94px;
}

.reviewer-line{
    line-height: normal;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 16px;
    transform: translate(-50%, -50%);
    padding-top: 10px;
}

.cal-holder, .clip-holder{
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
    width: 110px;
    position: relative;

}

.day-count{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 12px;
    line-height: 2; 
    display: block;
}

.days-left, .review-ct {
    font-size: 26px;
    font-weight: bold;
    color: #444444;
}


.day-container{
    position: absolute;
    top: 45%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
}

.ct-container {
    position: absolute;
    top: 60%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
}

.ct-container2 {
    position: absolute;
    top: 40%;
    left: 50%;
    font-weight: bold;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
}


.action-holder{
    margin-top: -20px;
}

.question{
    display: inline-block;
    /* text-align: left; */
    height: 50px;
    width: 80%;
    margin-right: 20px;
}

.question-drop{
    display: inline;
}

.btn{
    vertical-align: top;
}

.question-comment{
    margin-top: 10px;
    
}

.scaled-circle-md{
    height: 130px;
    width: 130px;
    margin-bottom: 5px;
}

.update-name{
    font-weight: bold;
    font-size: 32px;
    line-height: 1;
    color: black;
}
.update-dept{
    font-size: 18px;
    line-height: 2;
}
.update-p{
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.update{
    font-size: 16px;
}

.top-hr{
    width: 100%;
    border-color: #40514E;
    border-width: 3px;
}

.rec-name{
    margin-top: -10px;
}



/*######################### Interactive Style ################################## */

  
  .menu-dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    z-index: 9999;
    left: 40%;
    padding-top: 10px;
  }
  
  .menu-dropdown:hover .menu-dropdown-content {
    display: block;
  }

  .menuButton {
    /* background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%); */
    background-color: #6C757D;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:'Montserrat', sans-serif;
	font-size:15px;
	padding:11px 23px;
	text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
    width: 100px;
    margin: 1px;
}
.menuButton:hover {
    /* background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%); */
    color: black;
    text-decoration: none;
	/*background-color: white;*/
}
.menuButton:active {
	position:relative;
	top:1px;
}

.content-section{
    width: 70%;
    margin: 10px auto;
}

.admin-header, .rev-metrics-header {
margin: 10px auto;
}

.admin-title {
    font-size: 24px;
}

.short-hr{
    width: 60%;
}

.tiny-hr{
    width: 40%;
}

.left{
text-align: left;
margin-left:  15%;
}


.admin-p {
    font-size: 14px;
}

.r-dates{
    margin-top: 5px;
}

.sub-text{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #444444;

}

#flash-row {
display: inline;
}


.clip-holder{
    padding-top: 0px;
}

.clip-holder2{
    margin-top: 15px;
}

.btn-row {
margin: 20px auto;
}

.admin-btn {
    margin: 0px 10px;
    width: 150px;
}


.admin-row{
    margin: 30px auto;
}


