{% include "head.html" %}
{% block content %}

<div class='row'>
    <div class='col-8 offset-2' id="process-header">
        <h2>Scheduled Jobs </h2>
        <div class='scheduled-jobs'>
            <table class='table'>
                <thead>
                    <th>Job </th>
                    <th>Next Run Time</th>
                    <th>Schedule</th>
                </thead>
                <tbody>
                    {% for job in jobs%}
                    <tr>
                        <td>
                            {{job['id']}}
                        </td>

                        <td>
                            {{job['next_run_time']}}
                            
                        </td>
                        <td>
                            {{job['trigger']}}
                        </td>
                        <td>

                        </td>
                    </tr>

                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
    <div class='col-2'>
        {%include "menu.html"%}
    </div>
</div>

{% include 'foot.html' %}
</body>

</html>
{% endblock content %}

