{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='homeStyle.css')}}">

<div class="home">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="{{url_for('static',filename='images/OEDCardIcon.png')}}" class="card-img-top" alt="Open Ecounters Icon">
                <div class="card-body">
                    <h5 class="card-title">Open Encounters</h5>
                    <p class="card-text">Open encounters with provider metrics, departments and locations. Distribution
                        by provider plus a one year closed trend.</p>
                    <a href="open_encounters" class="btn btn-secondary">Take Me There</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="{{url_for('static',filename='images/AppointmentsCardIcon.png')}}" class="card-img-top" alt="Open Ecounters Icon">
                <div class="card-body">
                    <h5 class="card-title">Appointments</h5>
                    <p class="card-text">Including, completed, no shows, same day, new patients. Group them by location, department, 
                        provider group, and provider type.</p>
                    <a href="appt_dash" class="btn btn-secondary">Take Me There</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="{{url_for('static',filename='images/HuddleCardIcon.png')}}" class="card-img-top" alt="Open Ecounters Icon">
                <div class="card-body">
                    <h5 class="card-title">Incoming Patients</h5>
                    <p class="card-text">Scheduled appointments for the next seven days. Appointment times with patient risk scores
                        and any items they might need checked off their health management.</p>
                    <a href="huddle" class="btn btn-secondary">Take Me There</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="{{url_for('static',filename='images/EffectCardIcon.png')}}" class="card-img-top" alt="Slot Utilization Icon">
                <div class="card-body">
                    <h5 class="card-title">Slot Utilization</h5>
                    <p class="card-text">The organization's effectiveness to fill the schedule for a given period of time. Comparisons
                        between actuall and expected utilization broken out by department, provider, provider type, and department type.
                    </p> 
                    <a href="effect" class="btn btn-secondary">Take Me There</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="{{url_for('static',filename='images/BHVisitsCardIcon.png')}}" class="card-img-top" alt="Slot Utilization Icon">
                <div class="card-body">
                    <h5 class="card-title">BH Visits</h5>
                    <p class="card-text">Behavioral Health visits including WHOs and patient totals trending over time with departments, financial class, 
                        and custom date-type ranges. Includes a report of open visits by provider, type, and department.
                    </p>
                    <a href="bhvisits" class="btn btn-secondary">Take Me There</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}