<div class='border-left border-dark' id='links'>
    <div id='link-menu' class='collapse'>
        <div class='row icon-tooltip'> <a class='icon-right' href="http://biprodserv01.odchc.org/reportspbi/browse"
                target=”_blank”> <img src="{{url_for('static',filename='images/powerbi.png')}}" class='link-icon'
                    alt="PowerBI Icon">
            </a>
            <span class="tooltiptext">Power Bi</span>
        </div>


        <div class='row icon-tooltip'> <a class='icon-right' href="http://biprodserv01.odchc.org/reports"
                target=”_blank”> <img src="{{url_for('static',filename='images/reportingService.png')}}"
                    class='link-icon' alt="ReportingService Icon">
            </a>
            <span class="tooltiptext">Reporting Service</span>
        </div>


        <div class='row icon-tooltip'> <a class='icon-right' href="http://biappserv01:8045/processes" target=”_blank”>
                <img src="{{url_for('static',filename='images/scripts.png')}}" class='link-icon' alt="Scripts Icon">
            </a>
            <span class="tooltiptext">Scripts</span>
        </div>

        <div class='row icon-tooltip'> <a class='icon-right' href="http://biappserv01:8045/scheduler" target=”_blank”>
                <img src="{{url_for('static',filename='images/scheduler.png')}}" class='link-icon' alt="Scheduler Icon">
            </a>
            <span class="tooltiptext">Scheduler</span>
        </div>


        <div class='row icon-tooltip'> <a class='icon-right' href="http://biappserv01:8045/" target=”_blank”> <img
                    src="{{url_for('static',filename='images/wiki.png')}}" class='link-icon' alt="Oncall Icon">
            </a>
            <span class="tooltiptext">Wiki</span>
        </div>
    </div>
</div>