{% include "head.html" %}
{% block content %}
<form method="POST">
<div class='row'>
    <div class='col-12' id="process-header">
        <h2>Scheduled Jobs </h2>
        <div class='scheduled-jobs'>
            <table class='table'>
                <thead>
                    <th>Job </th>
                    <th>Next Run Time</th>
                    <th>Schedule</th>
                    <th>Task</th>
                </thead>
                <tbody>
                    {% for job in jobs%}
                    <tr>
                        <td>
                            {{job['id']}}
                        </td>

                        <td>
                            {{job['next_run_time']}}
                            
                        </td>
                        <td>
                            {{job['trigger']}}
                        </td>
                        <td>
                            <button class="btn btn-secondary" type="submit" name="submit_button" value="{{job['id']}}"> Run  </input>
                        </td>
                    </tr>

                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
</form>

{% include 'foot.html' %}
</body>

</html>
{% endblock content %}

