<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/Favicon.png')}}" />

    <link href="https://fonts.googleapis.com/css?family=Sacramento|Montserrat:400,600,900|Patua+One&display=swap"
        rel="stylesheet">

        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">

    <!-- General bootstrap and font cdn calls -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0c38cee3b7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <!-- Datepicker -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"
    rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='adminStyle.css')}}">

    <script type="text/javascript" src="http://tableauserv01/javascripts/api/tableau-2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='ui-1.12.1/jquery-ui.css')}}">
    <script src="{{url_for('static',filename='ui-1.12.1/jquery-ui.js')}}"></script>


    <title>BI Portal</title>
</head>

<body class="body-head">
    <header class="site-header">
        <div class="tool-bar">
            <img class="logo" src="{{url_for('static',filename='images/darklogo.png')}}" alt="ODCHC Logo">
        </div>
        <div class="menu-dropdown">
            <img class="menu" src="{{url_for('static',filename='images/menubutton.png')}}" alt="menu">
            <div class="menu-dropdown-content">
                {%if is_authenticated %}
                <a class="menuButton" href="{{url_for('main.home')}}">Home</a>
                <a class="menuButton" href="{{url_for('main.logout')}}">Logout</a>
                <a class="menuButton" href="{{url_for('main.wellness')}}">Wellness</a>
                {% else %}
                <a class="menuButton" href="{{url_for('main.login')}}">Login</a>
                {% endif %}
            </div>
        </div>

        <div class="title">
            <h1 class="title-link">{{title}}</h1>
        </div>
    </header>

    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>

    


</body>

</html>