{% include "head.html" %}
{% block content %}

<form id="update-file" action="/" method="post">
    <div class='row ' id='history-row'>
        <div class='col-10 offset-1 border-bottom border-dark'>
            {% for hvalue in history %}
            <button class='history' type="submit" class="btn wiki-btn" id="histval" name="files" value="{{hvalue}}"> <i
                    class="fas fa-history"></i> <br /> {{hvalue[0:-3]}} </button>
            {% endfor %}
        </div>
    </div>
    <div class='row'>
        <div class=col-2 id="menu">
            <h3 id="cat-head"> Search Titles </h3>
            <select id='quick-search' class="selectpicker" data-live-search="true" title="Search" data-size="3"
                onchange="search_submit()">
                {% for key, value in to_display.items() %}
                {% for nkey, nvalue in value.items() %}
                {% if 'Codebase' in nkey %}
                {% set icon = "fa-file-code" %}
                {% elif 'Definitions' in nkey %}
                {% set icon = "fa-book" %}
                {% elif 'Reports' in nkey %}
                {% set icon = "fa-chart-bar" %}
                {% elif 'User Guides' in nkey %}
                {% set icon = "fa-atlas" %}
                {% elif 'EMR' in nkey %}
                {% set icon = "fa-project-diagram" %}
                {% endif %}
                <option data-icon={{icon}} value="{{nkey}}">{{nvalue}}</option>
                {% endfor %}
                {% endfor %}
            </select>
            <h3 id="cat-head"> Browse By Category </h3>
            {% for key, value in to_display.items() %}
            <div class='menu_item'>
                <a class="btn wiki-btn" data-toggle="collapse" href="#{{key}}T" id="heading" role="button" aria-expanded="false"
                    aria-controls="{{key}}T"> {{key}} </a>
                <div id="{{key}}T" class="collapse">
                    {% for nkey, nvalue in value.items() %}
                    <button type="submit" class="btn wiki-btn" id="subval" name="files" value="{{nkey}}"> {{nvalue}} </button>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
</form>

        <div class='col-8' id="md">
            {{readme|markdown}}
        </div>




    <div class='col-2 border-left border-dark'>
        {%include "menu.html"%}
        <div class='row' id='toc'>
            <a href='{{link_address | e}}'  id="page-link"> <i class="fas fa-link"></i> Page Link</a> 
            <br />
            <h4 id='contents-head'> Table of Contents </h3>
        </div>
        
    </div>



{% include 'foot.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


<script type="text/javascript">

    var abbrs = JSON.parse('{{ abbr_file | tojson | safe}}');

    function changeToLink(sel, txt, tooltip_name) {
        var regEx = new RegExp(txt, 'g');
        $.each($(sel), function (i, el) {
                
            var linkHTML = $(el).html();
            
            var idx = linkHTML.indexOf(txt);
            

            if (idx >= 0) {
                var t = linkHTML.substring(idx);
 
                if (t.includes('<img')){
                    return
                }
                t = t.replace(/<\/?[B-Z]+.*?>/g, function (m) { return m.toLowerCase(); })
                var closingA = t.indexOf('</a>');

                t = t.substring(0, closingA);
                if (closingA != -1) {
                    t = t.substring(0, closingA);
                    if (t.indexOf('<a') < txt.length) {
                        return;
                    }
                }

                    linkHTML = linkHTML.replace(regEx, `<abbr class="abbr-tooltip"  title="${tooltip_name}">` + txt + "</abbr>"); 
                    $(el).html(linkHTML);
            }
        });
    }

    $(document).ready(function () {
        $('.selectpicker').selectpicker();

        $('h2').each(function () {
            if ($(this).attr('id') == null) {
                $(this).addClass('toc');
                var text = $(this).text();
                $(this).wrap("<a id='" + text + "'name= '" + text + "'> </a>")
            }
        });
        $('h3').each(function () {
            if ($(this).attr('id') == null) {
                $(this).addClass('toc');
                var text = $(this).text();
                $(this).wrap("<a id='" + text + "'name= '" + text + "'> </a>")
            }
        });
        $('h4').each(function () {
            if ($(this).attr('id') == null) {
                $(this).addClass('toc');
                var text = $(this).text();
                $(this).wrap("<a id='" + text + "'name= '" + text + "'> </a>")
            }
        });

        var $result = $('<div/>');
        var curDepth = 0;

        $('.toc').each(function () {
            var $li = $('<li/>').text($(this).text());
            $li.addClass('toc-li')
            var depth = parseInt(this.tagName.substring(1));

            if (depth > curDepth) { // going deeper
                $result.append($('<ol/>').append($li));
                $result = $li;

            } else if (depth < curDepth) { // going shallower
                $result.parents('ol:eq(' + (curDepth - depth - 1) + ')').append($li);
                $result = $li;

            } else { // same level
                $result.parent().append($li);
                $result = $li;
            }
            curDepth = depth;
            $li.wrapInner("<a class='toc-link' href='#" + $li.text() + "'> </a>")
        });
        $result = $result.parents('ol:last');
        $('#toc').append($result)

    });


    for (var i = 0; i < Object.keys(abbrs).length; i++) {

        var abbr = abbrs[i].abbr;
        var def = abbrs[i].def;

        changeToLink('p', abbr, def);
        changeToLink('li', abbr, def);
    }

    function search_submit() {
        var ClickButton = $('#quick-search').val();
        $('#subval').val(ClickButton);
        $('#subval').click();
    }

    if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}

</script>

<script> $.fn.selectpicker.Constructor.DEFAULTS.iconBase = 'fa'; </script>

</body>

</html>
{% endblock content %}